html { background-color: white; }
body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;


    display: flex;
    flex-direction: column;
    color: black;
}


h1{font-family: verdana;}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
background-color:#f1f1f1;
max-width:100%;
text-align: center;
line-height: 75px;
font-size: 20px;
  }
